*{margin: 0px;}

#grid_wrapper{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas:
    'na na na na na na'
    'a1 a1 a1 a1 a1 a1'
    'as as ma ma ma ma'
    'a2 a2 a2 a2 a3 a3'
    'fo fo fo fo fo fo';

    grid-template-columns: repeat(6, 1fr); /*fixa 1fr sen*/
    grid-template-rows: auto 400px 500px 400px 30px/*fixa 1fr sen*/
}


.na{
    grid-area: na;
}

.listanmelänkar{ 
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.listanmelänkar li  {
    display: block;
    background-color: rgb(224, 209, 209);
    width: 25%;
    height: 5%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.listanmelänkar li a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    
}
.listanmelänkar li:hover{
    background-color: rgb(202, 195, 195);
}
.listanmelänkar #active{
background-color: rgb(235, 229, 229);
}

#aside_bild{
    margin-left: 40px;
    margin-top: 40px;
    width: 80%;
}
.a3{
    grid-area: a3;
    background: crimson;
}
#annan_bild{
    width: 85%;
    margin: 30px;
}

.a2{
    background-color: crimson;
    grid-area: a2;
    padding: 40px;
}

.as{
    background: crimson;
    grid-area: as;
}
.a1{
    background: rgb(250, 203, 203);
    grid-area: a1;
}

.fig_logg{
    display: flex;
    justify-content: center;

}

#stor_logg{
    width: 600px;
    height: 300px;
    padding-top: 35px;
}


.ma{
    background: crimson;
    grid-area: ma;
    padding: 100px;
}


.fo{
    background: yellow;
    grid-area: fo;
}

.article_list{
    list-style: none;
    padding: 0;
    width: 100px;
    
    background-color: blue;
}

.article_list li{
    display: block;
    background-color: aqua;
    text-align: center;
    padding: 10px;
    width: 200px;
}

.article_list li a{
    text-decoration: none;
    color: violet;
}

.article_list li:hover{
    background-color: turquoise;
}

.article_list_2{
    list-style-type: none;
}
.article_list_2 li{
    padding: 5px;
}

.inner_div{
    grid-area: a1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


