*{margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}

#grid_wrapper{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas:
    'na na na na na na'
    'a1 a1 a1 a1 a1 a1'
    'as as ma ma ma ma'
    'a2 a2 a2 a2 a3 a3'
    'fo fo fo fo fo fo';

    grid-template-columns: repeat(6, 1fr); /*fixa 1fr sen*/
    grid-template-rows: auto 400px 500px 400px 30px/*fixa 1fr sen*/
}
#grid_wrapper_2{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas:
    'na na na na na na'
    'a4 a4 a4 a4 a4 a4'
    'fo fo fo fo fo fo';

    grid-template-columns: auto;
    grid-template-rows: 57px 100vh 30px;
}

.na{
    grid-area: na;
}

.listanmelankar{ 
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.listanmelankar li  {
    display: block;
    background-color: rgb(224, 209, 209);
    width: 25%;
    height: 5%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.listanmelankar li a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    
}
.listanmelankar li:hover{
    background-color: rgb(202, 195, 195);
}
.listanmelankar #active{
background-color: rgb(235, 229, 229);
}

#aside_bild{
    margin-left: 20px;
    margin-top: 100px;
    width: 90%;
}
.a3{
    grid-area: a3;
    background:  rgb(250, 203, 203);
}
#annan_bild{
    width: 83%;
    margin: 30px;
}

img{
    border: 4px;
    border-style: solid;
    border-color:white ;
    background: white;
}
.a2{
    background-color:   rgb(250, 203, 203);
    grid-area: a2;
    padding: 40px;
}

.as{
    background:    rgb(250, 203, 203);
    grid-area: as;
}
.a1{
    background: rgb(250, 203, 203);
    grid-area: a1;
}

.fig_logg{
    display: flex;
    justify-content: center;

}

#stor_logg{
    width: 300px;
    height: 300px;
    margin-top: 35px;
}
#grid_wrapper_3{
    display: grid;
    height: auto;
    width: 100%;
    grid-template-areas:
    'na na na na na na'
    'a1 a1 a1 a1 a1 a1'
    'as as ma ma ma ma'
    'a3 a3 a2 a2 a2 a2'
    'fo fo fo fo fo fo';

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 400px 400px 400px  30px;
}

#box{
    grid-column-start: 2;
    background-color: rgb(250, 203, 203);
    width: 200px;
    text-align: center;
    padding: 15px;
    border-style: double;
    border-color: rgb(149, 209, 179);
    border-width: 30px;
    
}
.a4{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-area: a4;
    background-color:  rgb(131, 131, 131);
    justify-content: center;
    align-items: center;

}
.jkweh{
    padding: 10px;
    align-items: center;
}
.ma{
    background:   rgb(250, 203, 203);
    grid-area: ma;
    padding: 80px;
}


.fo{
    background: rgb(224, 249, 240);
    grid-area: fo;
}

.article_list{
    list-style: none;
    padding: 0;
    width: 100px;
    
    background-color: blue;
}

.article_list li{
    display: block;
    background-color: aqua;
    text-align: center;
    padding: 10px;
    width: 200px;
}

.article_list li a{
    text-decoration: none;
    color: violet;
}

.article_list li:hover{
    background-color: turquoise;
}

.article_list_2{
    list-style-type: none;
}
.article_list_2 li{
    padding: 5px;
}

.inner_div{
    grid-area: a1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#mass{
    font-size: 800px;
}